pipeline/ImportSweetTreatsAndDesserts4All.json
{
	"name": "ImportSweetTreatsAndDesserts4All",
	"properties": {
		"activities": [
			{
				"name": "Desserts4All",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ImportSTFormatFolder",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"WildcardFolderPath": "Azure-Data-Factory-by-Example-Second-Edition-main.zip/Azure-Data-Factory-by-Example-Second-Edition-main/SampleData/Desserts4All",
						"WildcardFileName": "*.csv",
						"CommentWhichPipe": "Deserts4All"
					}
				}
			},
			{
				"name": "SweetTreats",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Desserts4All",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ImportSTFormatFolder",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"WildcardFolderPath": "Azure-Data-Factory-by-Example-Second-Edition-main.zip/Azure-Data-Factory-by-Example-Second-Edition-main/SampleData/SweetTreats/**",
						"WildcardFileName": "*.csv",
						"CommentWhichPipe": "SweetTreats"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "SweetTreats",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "ReturnedValue",
					"value": {
						"value": "@activity('Desserts4All').output.pipelineReturnValue.PipelineRunSeqNo",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"ReturnedValue": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}